body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0 auto;
  padding: 0 2em 1em;
  width: 500px;
  border: 3px solid blue;
}
main {
  display: block;
}
h1 {
  color: blue;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
label {
  display: inline-block;
  width: 11rem;
  margin-bottom: 0.5rem;
  text-align: right;
}
.form-control, .btn {
  display: inline-block;
  box-sizing: border-box;
  align-self: stretch;
  width: 11rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}
.form-control {
  border-radius: 0.25rem;
}
output {
  background-color: #eee;
}
