body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 750px;
    margin: 0 auto;
    border: 3px solid blue;
    padding: 0 2em 1em;
}
h1 { 
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 12em;
}
input {
    width: 15em;
    margin-right: 1em;
    margin-bottom: 1em;
}
#trips {
    margin-top: 0;
    float: right;
}